.users {
    /*background: #2f3c40;*/
    /*border-radius: 16px;*/
}

.user {
    width: 80%;
    display: flex;
    /*justify-content: space-around;*/
    background: #2f3c40;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 3%;
    transition: ease-out 0.4s;
}

.user:hover {
    transform: scale(1.02);
    /*border: 1px solid yellowgreen;*/
    -webkit-box-shadow: 0px 1px 7px 6px rgba(0,0,0,0.21);
    box-shadow: 0px 1px 7px 6px rgba(0,0,0,0.21);
}

.user div {
    /*border: 1px solid white;*/
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 8%;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.about {
    width: 25%;
}

.name {
    margin-left: 6%;
    margin-top: 14%;
    font-size: 22px;
    font-weight: bold;
}

.status {
    margin-left: 6%;
    margin-top: 8%;
}

.location {
    width: 20%;
    margin: auto;
    color: lightslategrey;
}

.button {
    width: 33%;
}

.button button {
    /*border: 1px solid white;*/
    border-radius: 16px;
    width: 80%;
    height: 30%;
    margin-top: 15%;
    margin-left: 8%;
    border: none;
    color: white;
    /*letter-spacing: 1px;*/
    font-size: 18px;
}

.follow {
    background-color: green;
    transition: 0.7s;
}

.follow:hover {
    background-color: lightgreen;
}

.unfollow {
    background-color: red;
    transition: 0.7s;
}

.unfollow:hover {
    background-color: darkred;
}

.selectedPage {
    /*transition: 0.3s;*/
    font-size: 24px;
    font-weight: 900;
    color: yellowgreen;
}

.pages {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid white;*/
    margin-bottom: 3%;
}

span:not(.selectedPage):hover {
    font-size: 22px;
    transition: 0.2s;
    cursor: pointer;
}