.nav {
    height: 200px;
    border-radius: 16px;
    grid-area: nav;
    background-color: #2f3c40;
    position: sticky;
    margin-top: 20px;
    top: 80px;
}

.navLink {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    /*border: 1px solid red;*/
}

.active {
    transition: 0.3s;
    font-size: 20px;
    color: yellowgreen;
    /*text-decoration: underline;*/
}